.remark {
  font-size: large;
  font-style: italic;
}
.folio {
  font-size: small;
  color: #668866;
}
.fmark:after {
  font-size: small;
  font-weight: bold;
  vertical-align: super;
  color: #ddaa22;
}
.note {
  vertical-align: super;
  font-size: small;
  color: #774400;
}
.ref {
  font-size: small;
  font-weight: bold;
  color: #666688;
}
.emph {
  font-style: italic;
}
.und {
  text-decoration: underline;
}
.q {
  color: #777777;
  font-weight: bold;
}
.num {
  font-size: small;
  vertical-align: super;
}
.den {
  font-size: small;
  vertical-align: sub;
}
.sub {
  vertical-align: sub;
}
.super {
  vertical-align: super;
}
.special {
  font-family: monospace;
  font-weight: bold;
  color: #886666;
}
